<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <div style="text-align: center">
      <h1>{{title}}</h1>
    </div>
    <div  style="padding-top:40px;padding-bottom:40px;padding-left:40px; padding-right:40px;border: gold; border-style: solid; border-width: medium;border-radius: 10px;">
      <div class="row">
        <form #myForm="ngForm" (ngSubmit)="login(myForm)" class="form-horizontal">
          <div class="form-group" [class.has-error]="userName.invalid && userName.touched">
            <label for="username">User Name</label>
            <input #userName="ngModel" name="userName" id="username" type="text" class="form-control" placeholder="User Name" [(ngModel)]="loginUser.userName" required/>
            <div class="alert alert-danger" *ngIf="userName.invalid && userName.touched">Please enter username</div>
          </div>
          <div class="form-group" [class.has-error]="password.invalid && password.touched">
            <label for="password">User Name</label>
            <input #password="ngModel" name="password" id="password" type="password" class="form-control" placeholder="********" [(ngModel)]="loginUser.password" required/>
            <div class="alert alert-danger" *ngIf="password.invalid && password.touched">Please enter password</div>
          </div>
          <div class="alert alert-danger" *ngIf="error.state">{{error.message}}</div>
          <button class="btn btn-primary pull-right" type="submit" [disabled]="myForm.invalid">Login</button>
        </form>
      </div>
    </div>

  </div>
  <div class="col-lg-4"></div>
</div>
